@font-face {
  font-family: "iconfont"; /* Project id 4297092 */
  src: url('iconfont.woff2?t=1697939119108') format('woff2'),
       url('iconfont.woff?t=1697939119108') format('woff'),
       url('iconfont.ttf?t=1697939119108') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-local:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e6d4";
}

.icon-weather_51:before {
  content: "\e605";
}

.icon-weather_55:before {
  content: "\e606";
}

.icon-weather_63:before {
  content: "\e60b";
}

.icon-weather_53:before {
  content: "\e60c";
}

.icon-weather_82:before {
  content: "\e60d";
}

.icon-weahter_96:before {
  content: "\e6e5";
}

.icon-weather_99:before {
  content: "\e6fc";
}

.icon-weather-95:before {
  content: "\e87b";
}

.icon-weather_73:before {
  content: "\e607";
}

.icon-weather_77:before {
  content: "\e608";
}

.icon-weather_75:before {
  content: "\e609";
}

.icon-weather_71:before {
  content: "\e60a";
}

.icon-weather_45:before {
  content: "\eb75";
}

.icon-weather_48:before {
  content: "\e92e";
}

.icon-weather_2:before {
  content: "\e602";
}

.icon-weather_3:before {
  content: "\e604";
}

.icon-weather_0:before {
  content: "\e617";
}

.icon-weather_1:before {
  content: "\e635";
}

